/*****************************

    Main navbar 

******************************/

.navbar {
  background-color: #fdfdfd;
  overflow: hidden;
  position: relative;
}

/* Style the links inside the navigation bar */
.nav-item {
  display: none;
  color: #2f2f2f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* This class adds when hamburger is clicked. */
.responsive {
  display: block;
}

/* Because mobile first, all are hidden except the first */
.nav-item:first-child {
  display: block;
}

/* Navbar hover effect */
.nav-item:hover {
  background-color: #1E51FF;
  color: white;
}

/*  Toggler button */
.icon {
  display: block;
  font-size: 25px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fdfdfd;
  text-decoration: none;
  color: #2f2f2f;
  cursor: pointer;
}

/* Icon Hover */
.icon:hover {
  background-color: #1E51FF;
  color: white;
}

/* Media queries to hide icon and make a top navbar */
@media screen and (min-width: 769px) {
  .navbar {
    margin-left: 40px;
  }
  .nav-item {
    display: block;
    float: left;
    border-right: dotted 1px #2f2f2f; 
  }

  .nav-item:first-child {
    border-left: dotted 1px #2f2f2f;
  }

  .icon {
    display: none;
  }
}

/*****************************

  Header Styles
  Includes animation for I am:

******************************/

/* Main Styles */
header {
  background-color: #1E90FF;
  height: 400px;
  width: 100%;
  text-align: center;
  color: white;
}

/* Name and greeting */
.intro {
  font-size: 2em;
  font-weight: bold;
}

/* Iam a text */
.iam {
  font-size: 1.5em;
  font-weight: bold;
}

/* Adds space between navbar */
header p:first-child {
  padding-top: 120px;
}

/* Spaces out text */
header .iam {
  padding-top: 20px
}

/* Centers info and prevent is from being full screen width */
 header .container {
  max-width: 80%;
  margin: 0 auto; 
  position: relative;
}

/* Style for animated text. Left, right, and width allow it to be centerd, z index keeps it form being hidden */
.i-am-text1,
.i-am-text2,
.i-am-text3,
.i-am-text4 {
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  display: block;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Animation names */
.i-am-text1 {
  animation-name: anim-1;
}

.i-am-text2 {
  animation-name: anim-2;
}

.i-am-text3 {
  animation-name: anim-3;
}

.i-am-text4 {
  animation-name: anim-4;
}

/* Main animations */
@keyframes anim-1 {
  0% { 
    opacity: 0;
  }
  8.3%, 16.6% {
    opacity: 1;
  }

  25%, 100% {
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%, 25% { 
    opacity: 0;
  }
  33.3%, 41.6% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%, 50% { 
    opacity: 0;
  }
  58.3%, 66.6% {
    opacity: 1;
  }
  75%, 100% {
    opacity: 0;
  }
}

@keyframes anim-4 {
  0%, 75% { 
    opacity: 0;
  }
  83.3%, 91.6% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
