/* css reset from https://cssreset.com/scripts/eric-meyer-reset-css/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  line-height: 1;
}

/* Set up for basic mobile layout first*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

	
/* main navbar */
.navbar {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

/* Style the links inside the navigation bar */
.nav-item {
	display: none;
  color: #5f5f5f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* This class adds when hamburger is clicked. */
.responsive {
	display: block;
}

/* Because mobile first, all are hidden except the first */
.nav-item:first-child {
	display: block;
}

/* Navbar hover effect */
.nav-item:hover {
	background-color: #1E51FF;
	color: white;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #1E73FF;
  color: white;
}

/* Link toggler button */
.icon {
  display: block;
  font-size: 25px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FFF;
  text-decoration: none;
  color: #5f5f5f;
  cursor: pointer;
}

/* Hover for icon */
.icon:hover {
	background-color: #1E51FF;
	color: white;
}

/* media queries to hide icon and make a top navbar */
@media screen and (min-width: 769px) {
	.nav-item {
		display: block;
		float: left;
	}

	.icon {
		display: none;
	}
}

/* header */
header {
	background-color: #1E90FF;
	height: 400px;
	width: 100%;
	text-align: center;
}

.container {
	max-width: 80%;
	margin: 0 auto;	
	padding: 20px;
}