/*****************************

Quote by Marcus Aurelius

 ****************************/

.quote {
  padding: 20px;
  color: white;
  text-align: center;
  background-color: #1E90FF;
}

@media screen and (min-width: 768px) {
  .quote {
    padding: 60px;
  }
}

.flex-container {  
  display: flex;
  justify-content: space-between;
}
.qmark {
  flex: 0 1 auto;
  font-size: 78px;
}

.qmarks {
  margin-top: 20px;
}

.qtext {
  flex: 0 1 auto;
  font-size: 18px;
  padding: 20px 10px;
}


.qauthor {
  margin-top: 20px;  
  font-size: 18px;
  padding-bottom: 20px;
}
